.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 200px;
  padding-top: 30px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.link {
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
  color: var(--color-white);
  text-shadow: 2px 2px 2px var(--color-brown),
               2px -2px 2px var(--color-brown),
               -2px 2px 2px var(--color-brown),
               -2px -2px 2px var(--color-brown);
}

.title {
  font-family: var(--font-family-head);
  font-size: 5rem;
  line-height: .75;
}

.subtitle {
  font-family: var(--font-family-deco);
  font-size: 2rem;
  line-height: 1;
}
