.content p,
.content ul,
.content ol,
.content article,
.content section {
  margin-bottom: var(--space-l);
}

.content > :last-child,
.content div > :last-child,
.content section > :last-child,
.content article > :last-child {
  margin-bottom: 0;
}

.content h2 {
  margin-top: var(--space-xxl);
}

.content section a {
  color: var(--color-orange);
  text-decoration: underline;
}

.content section a:hover,
.content section a:focus {
  text-decoration: none;
}

.content figure {
  margin: 0 calc(var(--main-padding) * -1) var(--space-l);
}
