:root {
  --color-white: #FFF;
  --color-white-transparent: rgba(255,255,255,.35);
  --color-gray-10: #dedcdc;
  --color-gray-20: #ebebeb;
  --color-gray-30: #DDD;
  --color-orange: #ff9160;
  --color-orange-transparent: rgba(255,145,96,.35);
  --color-brown: #583f48;
  --color-brown-transparent: rgba(88,63,72,.8);

  --font-family-base: Helvetica,Arial,Tahoma,Verdana,sans-serif;
  --font-family-head: Head, var(--font-family-base);
  --font-family-deco: Deco, var(--font-family-base);

  --font-size-xs: 9px;
  --font-size-s: 11px;
  --font-size-m: 14px;
  --font-size-l: 21px;
  --font-size-xl: 28px;

  --space-xxs: .125rem;
  --space-xs: .25rem;
  --space-s: .5rem;
  --space-m: .75rem;
  --space-l: 1.25rem;
  --space-xl: 1.75rem;
  --space-xxl: 2.25rem;

  --wrap-width: 1200px;
  --main-width: 850px;
  --wrap-padding: var(--space-l);
  --main-padding: var(--space-l);
}

@font-face {
  font-family: Head;
  src: url(/static/fonts/Head.woff2) format("woff2");
}

@font-face {
  font-family: Deco;
  src: url(/static/fonts/Deco.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-m);
  line-height: 1.5;
  background: var(--color-gray-10);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--wrap-width);
  margin: 0 auto;
}

.main {
  background: var(--color-white);
  max-width: var(--main-width);
  margin: 0 auto;
}

.sidebar .panel {
  text-align: center;
}

.footer {
  margin-top: var(--space-l);
}

@media screen and (max-width: 599px) {
  .wrap {
    padding: var(--wrap-padding) 0;
  }
  .main {
    flex: 1 1 100%;
    padding: var(--main-padding);
  }
  .sidebar {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar .panel {
    flex: 1 1 100%;
    margin-top: var(--space-l);
  }
}

@media screen and (min-width: 600px) and (max-width: 959px)  {
  .wrap {
    padding: var(--wrap-padding);
  }
  .main {
    flex: 1 1 100%;
    padding: var(--main-padding);
  }
  .sidebar {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar .panel {
    flex: 1 1 40%;
    margin-top: var(--space-l);
  }
  .sidebar .panel:nth-child(2n) {
    margin-left: var(--space-l);
  }
}

@media screen and (min-width: 960px) {
  .wrap {
    padding: var(--wrap-padding);
  }
  .main {
    flex: 1;
    padding: var(--main-padding);
  }
  .sidebar {
    flex: 0 0 320px;
    margin-left: var(--space-l);
  }
  .sidebar .panel {
    flex: 1 1 100%;
  }
  .sidebar .panel + .panel {
    margin-top: var(--space-l);
  }
}
