:root {
  --color-accent-extralight: #F3A379;
  --color-accent-light: #ff9160;
  --color-accent-medium: #C68362;
  --color-accent-middark: #AB7255;
  --color-accent-dark: #583f48;
  --color-accent-extradark: #332B2E;

  --color-bg-light: #ebebeb;
  --color-bg-medium: #dedcdc;
}
