.navbar {
  background: var(--color-brown-transparent);
}

.wrap {
  max-width: var(--wrap-width);
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  .wrap {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
}

@media screen and (min-width: 600px) {
  .wrap {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}

.link {
  display: inline-block;
  margin: 0 var(--space-m);
  padding: var(--space-m) 0;
  color: var(--color-white);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 125ms linear;
}

.link:hover {
  color: var(--color-orange);
}

.linkActive {
  box-shadow: 0 3px 0 var(--color-orange) inset;
}
