.footer {
  padding-bottom: var(--space-l);
  background: var(--color-white);
}

.wrap {
  max-width: var(--wrap-width);
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .wrap {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }
}

.panels {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 599px) {
  .panel {
    flex: 1 1 100%;
  }

  .panel + .panel {
    margin-top: var(--space-m);
  }
}

@media screen and (min-width: 600px) {
  .panel {
    flex: 1 1 40%;
  }

  .panel:nth-child(2n) {
    margin-left: var(--space-l);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-top: var(--space-s);
  margin-right: var(--space-m);
}

.friends {
  margin: var(--space-m) var(--space-l);
}

.friends a {
  color: var(--color-brown);
  transition: color 125ms linear;
}

.friends a:hover {
  color: var(--color-orange);
  text-decoration: none;
}

.copyright {
  font-size: var(--font-size-xs);
  color: var(--color-brown-transparent);
  text-align: center;
}
