<!DOCTYPE html>
<html class="uiengine-preview <!-- uiengine:class -->">
  <head>
    <title><!-- uiengine:title --></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- custom styles -->
    <link href="/css/styles.chunk.css" rel="stylesheet">
    <link href="/styles/uiengine-customizations.css" rel="stylesheet">
  </head>
  <body>
    <!-- uiengine:content -->

    <!-- custom scripts -->
    <script src="/runtime/main.js"></script>
  </body>
</html>
