<!DOCTYPE html>
<html>
  <head>
    <title><!-- uiengine:title --></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- custom styles -->
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- uiengine:content -->

    <!-- custom scripts -->
    <script src="/static/commons/manifest.js"></script>
    <script src="/static/commons/main.js"></script>
  </body>
</html>
