<!DOCTYPE html>
<html class="uiengine-preview <!-- uiengine:class -->">
  <head>
    <title><!-- uiengine:title --></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- custom styles -->
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/styles/uiengine-customizations.css" rel="stylesheet">
    <style>
      html.uiengine-preview:not(.uie-variant--Icon) { background: var(--color-white); }
      .uie-variant--Icon img { width: 3em; height: 3em; margin: 1em; }
    </style>
  </head>
  <body>
    <!-- uiengine:content -->

    <!-- custom scripts -->
    <script src="/static/commons/manifest.js"></script>
    <script src="/static/commons/main.js"></script>
  </body>
</html>
